<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="scpDirectorySettings" type="AlienSync.Core.Configuration.DirectoryConfiguration, AlienSync.Core" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
		<clear />
		<!--
			Parameters for SFTP connection strings:
			- Protocol=Sftp
			- HostName=[SFTP server name]
			- PortNumber=[SFTP port number; 0 uses protocol default]
			- UserName=[Username]
			- Password=[Password]
			- FtpMode=Active|Passive
			- SshHostKeyFingerprint=[SSH host key fingerprint]
			- Timeout=[Server response timeout in seconds; 15 is default]
		-->
		<add name="SftpConnection" connectionString="Protocol=Sftp;HostName=example.com;UserName=username;Password=password;SshHostKeyFingerprint=ssh-rsa 1024 xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx" />
		<!--
			Parameters for SCP connection strings:
			- Protocol=Scp
			- HostName=[SCP server name]
			- PortNumber=[SCP port number; 0 uses protocol default]
			- UserName=[Username]
			- Password=[Password]
			- FtpMode=Active|Passive
			- SshHostKeyFingerprint=[SSH host key fingerprint]
			- Timeout=[Server response timeout in seconds; 15 is default]
		-->
		<add name="ScpConnection" connectionString="Protocol=Scp;HostName=example.com;UserName=username;Password=password;SshHostKeyFingerprint=ssh-rsa 1024 xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx" />
		<!--
			Parameters for FTP connection strings:
			- Protocol=Ftp
			- HostName=[FTP server name]
			- PortNumber=[FTP port number; 0 uses protocol default]
			- UserName=[Username]
			- Password=[Password]
			- FtpMode=Active|Passive
			- FtpSecure=None|Implicit|ExplicitSsl|ExplicitTls
			- SslHostCertificateFingerprint=[SSL host certificate fingerprint]
			- Timeout=[Server response timeout in seconds; 15 is default]
		-->
		<add name="FtpConnection" connectionString="Protocol=Ftp;HostName=example.com;PortNumber=0;UserName=username;Password=password;FtpMode=Passive;FtpSecure=None;Timeout=15;" />
	</connectionStrings>
	<appSettings>
		<clear />
		<!--
			Sets the directory to save log files. Default value is "\logs"
			under the same directory as the app executed.
		-->
		<add key="LogPath" value="\logs" />

		<!--
			Sets the executable path where WinSCP is installed.
		-->
		<add key="Scp.ExecutablePath" value="C:\Program Files (x86)\WinSCP" />
		<!--
			Sets the synchronization mode. Value can be Local, Remote or
			Both. Default value is Both.
		-->
		<add key="Scp.SynchronizationMode" value="Both" />
		<!--
			Sets the value that specifies whether files are removed or not
			during the synchronization process. Default value is False.
		-->
		<add key="Scp.RemoveFiles" value="False" />
		<!--
			Sets the value that specifies whether to synchronize older files or
			not. Default value is False.
		-->
		<add key="Scp.MirrorMode" value="False" />
		<!--
			Sets the synchronization criteria. Value can be None, Time,
			Size or Either. Default value is Time.
		-->
		<add key="Scp.SynchronizationCriteria" value="Time" />
		<!--
			Sets the transfer option. Default value is empty.
		-->
		<add key="Scp.TransferOptions" value="" />

		<!--
			Sets the executable path where Git is installed.
		-->
		<add key="Git.ExecutablePath" value="C:\Program Files (x86)\Git\bin" />
		<!--
			Sets the local repository path for Git.
		-->
		<add key="Git.LocalRepositoryPath" value="C:\Repositories\AlienSync" />
		<!--
			Sets the branch name for Git. Default value is "HEAD".
		-->
		<add key="Git.BranchName" value="HEAD" />
		<!--
			Sets the automated commit message. Default value is "Committed by
			AlienSync for Git".
		-->
		<add key="Git.CommitMessage" value="Committed by AlienSync for Git" />
	</appSettings>
	<scpDirectorySettings>
		<!--
			Sets the list of local directories. The key of each element must be
			the same as the one at the remote directory. Otherwise, it will be
			ignored.
		-->
		<localDirectories>
			<clear />
			<add key="root" value="/" />
		</localDirectories>
		<!--
			Sets the list of remote directories. The key of each element must
			be the same as the one at the local directory. Otherwise, it will
			be ignored.
		-->
		<remoteDirectories>
			<clear />
			<add key="root" value="C:\Windows\Temp" />
		</remoteDirectories>
	</scpDirectorySettings>
</configuration>