<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
		<clear />
		<add name="MsSqlSourceConnection" connectionString="Data Source=localhost;Initial Catalog=AlienSync_Source;User ID=username;password=password;Integrated Security=False;" providerName="System.Data.SqlClient" />
		<add name="MsSqlDestinationConnection" connectionString="Data Source=localhost;Initial Catalog=AlienSync_Destination;User ID=username;password=password;Integrated Security=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<clear />
		<!--
			Sets the directory to save log files. Default value is "\logs"
			under the same directory as the app executed.
		-->
		<add key="LogPath" value="\logs" />

		<!--
			Sets the executable path where SQLCMD.exe is installed.
		-->
		<add key="MsSql.CommandExecutablePath" value="C:\Program Files\Microsoft SQL Server\110\Tools\Binn" />
		<!--
			Sets the executable path where TableDiff.exe is installed.
		-->
		<add key="MsSql.TableDiffExecutablePath" value="C:\Program Files\Microsoft SQL Server\110\COM" />
		<!--
			Sets the directory to save script files. Default value is
			"\results" under the same directory as the app executed.
		-->
		<add key="MsSql.ScriptStoragePath" value="\results" />
	</appSettings>
</configuration>